.description {
    min-height: 700px;
    background: url('../img/second_bg/bg__img.jpg') center (center/cover) no-repeat;
    &__content {
        width: 600px;
        color: #fff;
        padding-top: 140px;
        &-title {
            width: 400px;
            font-size: 45px;
            text-transform: uppercase;
        }
        &-text {
            overflow-y: hidden;
            height: 250px;
            margin-top: 20px;
            padding: 0 10px;
            font-weight: 300;
            line-height: 28px;
            transition: 0.5s all;
            text-overflow: ellipsis;
            // background: #ffffff11;
            background: radial-gradient(circle, rgba(238,238,238,0.1517857142857143) 0%, rgba(255,255,255,0.008928571428571397) 100%);

        }
        
        &-btn {
            width: 120px;
            height: 40px;
            font-size: 16px;
            background: #fff;
            color: #000;
            border: none;
            cursor: pointer;
            display: block;
            margin: 30px 0 0 225px;
        }
    }
}

.more {
    overflow-y: auto;
}