.features {
    min-height: 500px;
    &__title {
        font-size: 42px;
        text-align: center;
        margin-top: 90px;
        text-transform: uppercase;
    }
    &__images {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        &__item {
            width: 220px;
            &-text {
                margin-top: 12px;
                line-height: 28px;
            }
            img {
                width: 100%;
            }
        }
    }
}