.footer {
    min-height: 300px;
    padding: 30px 0;
    background: #000;
    color: #fff;

    &__wrapper {
        display: flex;
        justify-content: space-between;

    }

    &__column {
        position: relative;

        &__list {
            margin-top: 18px;
            list-style: none;
            &-item {
                margin-top: 14px;
                a {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 300;
                    text-decoration: none;
                }
            }
        }

        &__form {
            margin-top: 18px;
            display: flex;
        }

        &__input {
            display: block;
            height: 35px;
            border: none;
            padding: 3px;
        }
        &__btn {
            height: 35px;
            width: 40px;
            border: none;
            // position: absolute;
        }

        &__social {
            margin-top: 60px;
            &-item {
                text-decoration: none;
                margin-right: 5px;
                img {
                    width: 30px;
                }
            }
        }
    }

    &__undercontent {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        &__info {
            font-size: 14px;
            span {
                font-weight: 300;
                font-size: 9px;
            }
        }

        &__lang {
            position: relative;
            cursor: pointer;

            &-item {
                display: block;
                width: 125px;
                text-align: center;
                &::before {
                    content: "";
                    position: absolute;                
                    height: 10px;
                    width: 15px;
                    left: -25px;
                    top: 5px;
                }
            }
            .eng {
                &::before {
                    background: url('../icons/united-states.png') center (center/cover) no-repeat;
                }
            }
            .pl {
                &::before {
                    background: url('../icons/poland.png') center (center/cover) no-repeat;
                }

            }

            &-list {
                height: 20px;
                display: none;
                list-style: none;
                color: #FFF;
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
                background: rgba(84, 84, 84, 0.467);
                width: 100%;
                text-align: center;
                // &:hover {
                //     &~.footer__undercontent__lang-item {
                //         &::before {
                //             background: url('../icons/united-states.png') center (center/cover) no-repeat;
                //         }
                //     }
                // }
            }
            
            .choose {
                display: block;
                position: absolute;
                transform: translateY(-100%);
            }
        }
    }
}