.promo {
    position: relative;
    height: 100vh;
    z-index: 2;
    // background: url('../img/bg/snowboarding-1.jpg') center (center/cover) no-repeat;
    &__bg {
        img {
            height: 100vh;
            width: 100%;
            position: absolute;
            z-index: -1;
        }
    }
    &__wrapper {
        width: 560px;
        font-size: 60px;
        text-transform: uppercase;
        padding: 270px 0 0 20px;
    }
    &__btn {
        width: 100px;
        height: 40px;
        margin-top: 50px;
        float: right;
        background: #000;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}