.snowboards {
    min-height: 700px;
    width: 100%;
    padding: 90px 0;
    overflow: hidden;
    &__title {
        font-size: 32px;
        text-align: center;
    }
    &__subtitle {
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }
    &__slider {
        position: relative;
        min-height: 405px;
        margin-top: 100px;

        &__arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        #arrow-prev {
            left: -120px;
            z-index: 9;
            cursor: pointer;
        }
        
        #arrow-next {
            right: -120px;
            z-index: 9;
            cursor: pointer;
        }
        &__inner {
            position: absolute;
            // width: calc(260px * 6);
            display: flex;
            justify-content: space-between;
            // left: -100px;
            // transform: translateX(50%);
        }
        &__item {
            width: 350px;
            opacity: 0.5;
            font-size: 16px;
            img {
                display: block;
                margin: 0 auto;
            }
            &__descr {
                padding-left: 60px;
                margin-top: 20px;
            }
            &-number {
                margin-top: 5px;
            }
            &-price {
                margin-top: 5px;
            }
            span {
                margin-left: 5px;
                font-size: 26px;
            }
        }
    }

    &__btn {
        margin: 190px auto 0 auto;
        width: 140px;
        height: 60px;
        background: #000;
        color: #fff;
        font-size: 20px;
        line-height: 60px;
        text-align: center;
        cursor: pointer;
    }
}