.snowboards {
    width: 100%;
    padding: 90px 0;
    overflow: hidden;
    &__title {
        font-size: 32px;
        text-align: center;
    }
    &__subtitle {
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }
    &__slider {
        position: relative;
        min-height: 530px;
        margin-top: 100px;

        &__arrows {
            display: none;
        }

        &__arrow {
            position: absolute;
            top: 45%;
            transform: translateY(-50%);
        }
        #arrow-prev {
            left: -120px;
            z-index: 9;
            cursor: pointer;
        }
        
        #arrow-next {
            right: -120px;
            z-index: 9;
            cursor: pointer;
        }
        &__inner {
            position: absolute;
            display: flex;
            justify-content: space-between;
        }
        &__item {
            position: relative;
            display: block;
            width: 350px;
            opacity: 0.5;
            font-size: 16px;
            img {
                display: block;
                margin: 0 auto;
            }
            &__descr {
                padding-left: 60px;
                margin-top: 20px;
            }
            &-number {
                margin-top: 5px;
            }
            &-price {
                margin-top: 5px;
            }
            span {
                margin-left: 5px;
                font-size: 26px;
            }

            &-unavailable {
                margin-top: 15px;
                color: red;
            }
        }

        &__message {
            width: 960px;
            text-align: center;
            margin-top: 30px;

            &-title {
                text-align: center;
                font-size: 26px;
            }
            &-text {
                margin-top: 30px;
            }
            &-spinner {
                width: 250px;
                display: block;
                margin: 0 auto;
            }
        }
    }
    &__btn{
        display: none;
        margin: 100px auto 0 auto;
        width: 200px;
        height: 50px;
        background: #000;
        color: #fff;
        font-size: 18px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid #fff;
        cursor: pointer;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }
}