.snowboards {
    min-height: 700px;
    padding: 90px 0;
    &__title {
        font-size: 32px;
        text-align: center;
    }
    &__subtitle {
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }
    &__slider {
        position: relative;
        // background: rgba(255, 255, 255, 0.308);
        height: 405px;
        // opacity: 1;
        margin-top: 100px;
        &__collection {
            position: absolute;
            width: calc(260px * 5);
            display: flex;
            justify-content: space-between;
            left: -18%;
        }
        &__item {
            // opacity: 0.5;
        }
    }
    .visible {
        height: 405px;
        width: 260px;
        position: absolute;
        z-index: 5;
        // background: red;
        left: 350px;
        opacity: 0.5;
    }
}
.container {
    
    overflow: hidden;
}